{% if site.data.bio.certificates %}
<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom">Certifications</h3>
  </div>

  <div class="fourteen wide column no-bottom">
    {% for cert in site.data.bio.certificates %}
    <div class="ui grid">
      <div class="twelve wide column no-bottom">
        <p class="ui no-bottom"><b>{{ cert.name }}</b></p>
        <p class="ui no-bottom">{{ cert.issuer }}</p>
        {% if cert.summary %}
        <p class="ui no-bottom">{{ cert.summary }}</p>
        {% endif %}
        {% if cert.url %}
        <p class="ui no-bottom"><a href="{{ cert.url }}" target="_blank">{{ cert.url }}</a></p>
        {% endif %}
      </div>
      <div class="four wide right aligned column no-bottom">
        <p class="ui no-bottom"><b>{{ cert.date }}</b></p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
